<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mrs Landingham WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Mrs Landingham WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Mrs Landingham.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70A3216D1F43207100989D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70A321861F43207200989D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70A321911F43207200989D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70A3219A1F43207200989D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
